
    <h1 style="text-transform: uppercase;"><%= @cocktail.name %></h1>

<div class="row" style="background-color: white; border-radius: 15px; padding: 2em;">
  <div class="col-xs-5">

      <% if @cocktail.photo? %>
      <%= cl_image_tag @cocktail.photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>
  </div>

  <div class="col-xs-7" >
    <ul >
      <% @cocktail.doses.each do |dose| %>


        <li style="text-align: left; margin-left: 2em; font-size: 1.2em;">

          <!-- SUPPRIMER UNE DOSE -->
          <%= link_to cocktail_dose_path(@cocktail.id, dose.id), class: "btn btn-danger", style: "margin-right:2em; font-size: 0.8em;",
            data: { confirm: "Etes vous certain?" },
            method: :delete  do%>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end  %>
          <!-- PHOTO DE L'INGREDIENT -->
          <% if dose.ingredient.photo? %>
            <%= cl_image_tag dose.ingredient.photo.path, width: 50, height: 50, crop: :fill %>
          <% end %>
          <!-- DESCRIPTION DE LA DOSE -->
          <%= dose.description %> <%= dose.ingredient.name %>
        </li>
        <hr>
      <% end %>
    </ul>
  </div>

</div>
<hr>


 <%= simple_form_for(@dose) do |f| %>
    <%= f.error_notification %>
    <%= f.input :description %>
    <%= f.association :ingredient, collection: Ingredient.order('name ASC') %>
    <%= f.button :submit, class: 'btn-success' %>
  <% end %>
<hr>
<div class="row">
  <div class="col-xs-6">
<%= link_to "<-- Retour aux cocktails", cocktails_path, class: "btn btn-default" %>
  </div>

  <div class="col-xs-6">
        <%= link_to "Supprimer le cocktail",
            cocktail_path(@cocktail.id), class: "btn btn-default",

            data: { confirm: "Etes vous certain?" },
            method: :delete %>
  </div>



</div>
<hr>
